/*arquivo de estilo do botão de deletar todos! Aqui estamos importando a variaveis de cores na pasta Dist e estilizando a TAG button.
  Usamos um Host para alterar  a tag button especificamente.
  Dentro do host usamos um display flex para colocar o elemento do botao em linha
  

*/

@import '../../../../../dist/scss/variables.scss';
:host {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    button {
        border: none;
        border-radius: 50px;
        background: $danger-color;
        font-size: 16px;
        color: $secondary-text-color;
        width: 60%;
        padding: 10px;
    }
}